.card {
    border: 1px solid red;
    padding: 10px;
    display: grid;
    background-image: url(black.png);
    text-align: center;
}

.card p {
    padding: 10px;
    color: white;
}

.card h4 {
    color: white;
}

body {
    background-image: url(black.png);
}

button {
    height: 50px;
    width: 200px;
    align-content: center;
    font-size: 10px;
}

button:hover {
    color: white;
    background-color: rgb(104, 8, 8);
}